<h1 style="text-align: center;">Quotes.</h1>

<div class="container">
  <div class="jumbotron">
  <p>Life is a journey that is meant to be embraced to the fullest every day. You only live once, but if you do it right, once is enough.
</div>
  <ol type="a">
    <div *ngFor='let quote of quotes;let position = index'>
    <li >{{quote.quote}}</li>
    <button style="color: black;" (click)='toogleDetails(position)'>Learn More</button>
    <app-quote-detail *ngIf="quote.showDesc" [quote]='quote' (vote)='upVote($event,position)' (downvote)='downVote($event,position)' (quoteDelete)='deleteQuote($event,position)'></app-quote-detail>

</div>
<div class="container" id="form">
  <h3>Share a Quote.</h3>
  <app-quote-form (addQuote)="quoteSubmission($event)"></app-quote-form>
  </div> 
  